/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../compass/sass/YoProlandingstyle.scss */
body {
  background-image: url('../../../images/Website Backdrop Photo size.jpg?1345602169');
  background-position: center top;
  background-repeat: no-repeat;
  background-color: Dimgrey;
  background-attachment: fixed;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 21, ../compass/sass/YoProlandingstyle.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/* line 27, ../compass/sass/YoProlandingstyle.scss */
.logo {
  height: 100%;
  position: fixed;
  padding-left: 10px;
}

/* line 33, ../compass/sass/YoProlandingstyle.scss */
.yoProMessagePic {
  margin-top: 130px;
  margin-bottom: 20px;
  margin-left: 0px;
  float: left;
}

/* line 40, ../compass/sass/YoProlandingstyle.scss */
.joinNowPic {
  /*float:right;
  vertical-align:bottom;*/
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* line 48, ../compass/sass/YoProlandingstyle.scss */
.hero-unit {
  /* replace next two lines with less class .clearfix() */
  clear: both;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: #efedf2;
  opacity: .9;
  border-radius: 10px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* line 65, ../compass/sass/YoProlandingstyle.scss */
.leftSide {
  float: left;
  padding-left: 5px;
}

/* line 70, ../compass/sass/YoProlandingstyle.scss */
.middleSide {
  padding-top: 25px;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  margin-left: 30px;
  margin-right: -60px;
}

/* line 79, ../compass/sass/YoProlandingstyle.scss */
.rightSide {
  margin-top: 9px;
  margin-left: 0px;
  padding: 0px;
  padding-right: 0px;
  float: left;
}

/* line 87, ../compass/sass/YoProlandingstyle.scss */
form {
  text-align: center;
}

/* line 91, ../compass/sass/YoProlandingstyle.scss */
.hero-unit p {
  font-size: 23px;
  font-weight: 500;
}

/* line 96, ../compass/sass/YoProlandingstyle.scss */
.theOr {
  font-size: 10px;
}

/* line 100, ../compass/sass/YoProlandingstyle.scss */
.imLooking {
  float: left;
  padding-top: 8px;
}

/* line 105, ../compass/sass/YoProlandingstyle.scss */
.selectLine {
  margin-bottom: 60px;
}

/* line 109, ../compass/sass/YoProlandingstyle.scss */
.styled-select1 {
  float: right;
}

/* line 113, ../compass/sass/YoProlandingstyle.scss */
.styled-select2 {
  float: right;
}

/* line 117, ../compass/sass/YoProlandingstyle.scss */
select {
  background: #ffffff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkxJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, #f1f1f1 61%, #e1e1e1 91%, #f6f6f6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(61%, #f1f1f1), color-stop(91%, #e1e1e1), color-stop(100%, #f6f6f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f1f1f1 61%, #e1e1e1 91%, #f6f6f6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f1f1f1 61%, #e1e1e1 91%, #f6f6f6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f1f1f1 61%, #e1e1e1 91%, #f6f6f6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 61%, #e1e1e1 91%, #f6f6f6 100%);
  /* W3C */
  width: 200px;
  font-family: arial, sans-serif;
  font-size: 17px;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px white;
  color: #545454;
  padding-top: 12px;
}

/* line 138, ../compass/sass/YoProlandingstyle.scss */
#popLine1 {
  font-size: 17px;
  line-height: 115%;
  font-weight: 100;
}

/* line 144, ../compass/sass/YoProlandingstyle.scss */
#spread {
  line-height: 60%;
}

/* line 149, ../compass/sass/YoProlandingstyle.scss */
.circle {
  display: inline-block;
  border-radius: 266px;
  width: 26px;
  height: 26px;
  background-color: #efedf2;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), inset 2px 2px 2px #e7e8e9;
}

/* line 158, ../compass/sass/YoProlandingstyle.scss */
#signMessage {
  padding-left: 41px;
  margin-bottom: 30px;
}

/* line 163, ../compass/sass/YoProlandingstyle.scss */
#inputEmail {
  color: rgba(0, 0, 0, 0.4);
  margin-left: 30px;
  margin-bottom: 40px;
  padding-top: 12px;
  width: 325px;
  height: 25px;
  font-size: 14px;
}

/* line 175, ../compass/sass/YoProlandingstyle.scss */
.welcome-div {
  position: relative;
}

/* line 180, ../compass/sass/YoProlandingstyle.scss */
#submitEmail {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(29%, #7ec34d), color-stop(83%, #4b842a));
  background-image: -webkit-linear-gradient(#7ec34d 29%, #4b842a 83%);
  background-image: -moz-linear-gradient(#7ec34d 29%, #4b842a 83%);
  background-image: -o-linear-gradient(#7ec34d 29%, #4b842a 83%);
  background-image: linear-gradient(#7ec34d 29%, #4b842a 83%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 335px;
  height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  font-family: arial, sans-serif;
  margin-left: 30px;
}

/* line 193, ../compass/sass/YoProlandingstyle.scss */
.people {
  margin-left: -150px;
  margin-right: auto;
  padding: 0;
  width: 1280px;
}

/* line 201, ../compass/sass/YoProlandingstyle.scss */
.icons {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 8px;
  padding-left: 200px;
  margin-left: -169px;
  margin-right: 0px;
  width: 115%;
}

/* line 211, ../compass/sass/YoProlandingstyle.scss */
.blogLink a:link {
  color: white;
}

/* unvisited link */
/* line 212, ../compass/sass/YoProlandingstyle.scss */
.blogLink a:visited {
  color: white;
}

/* visited link */
/* line 213, ../compass/sass/YoProlandingstyle.scss */
.blogLink a:hover {
  color: white;
}

/* mouse over link */
/* line 214, ../compass/sass/YoProlandingstyle.scss */
.blogLink a:active {
  color: white;
}

/* line 215, ../compass/sass/YoProlandingstyle.scss */
.blogLink {
  display: block;
  text-align: center;
  line-height: 50%;
}
